*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    .main-container{
        // background-color:red;
        width: 100vw;
        height: 100vh;
        display: grid;
        place-items: center;
        grid-template-columns: 2fr 10fr;
        // background-color: rgb(240, 238, 238);
        .Navbar{
            display: grid;
            background-color: #fff;
            place-items: center;
            border-right: 1px solid rgb(207, 202, 202);
            tr{
                align-items: right;
                height: 90vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                td{
                    padding: 0 20px;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                        &:hover
                        {
                            color: rgb(119, 119, 124);
                        }
                    }
                }
            }
        }
    }   
}
header::-webkit-scrollbar {
    width: 10px;           
  }
  
header::-webkit-scrollbar-track {
    background: #fff;
  }
  
header::-webkit-scrollbar-thumb {
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    border: 3px solid #fff;
}