<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <form action="" method="POST">
          {% csrf_token %}
          <table>
            <tr>
              <td>
                <label for="">First name</label>
              </td>
              <td>
                <input type="text" name="firstname"/>
              </td>
            </tr>
            <tr>
              <td><label for="">last name</label></td>
              <td>
                <input type="text" name="lastname"/>
              </td>
            </tr>
            <tr>
              <td><label for="">place</label></td>
              <td>
                <input type="text" name="place"/>
              </td>
            </tr>
            <tr>
              <td><label for="">post</label></td>
              <td><input type="text" name="post"/></td>
            </tr>

            <tr>
              <td><label for="">pin</label></td>
              <td>
                <input type="number" name = "post" />
              </td>
            </tr>
            <tr>
              <td><label for="">bus</label></td>
              <td><input type="text" name="bus"/></td>
            </tr>
            <tr>
              <td><label for="">username</label></td>
             <td> <input type="text" name="username"/></td>
            </tr>
            <tr>
              <td><label for="">password</label></td>
              <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="submit"></td>
            </tr>
          </table>
        </form>
      </div>
    </header>
  </body>
</html>
