<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
          <form action="">
          <table border="0">
            <tr>
              <td>
                <label for="">bus</label>
              </td>
              <td>
                <select name="" id="">
                  <option value="">KL18N8442</option>
                  <option value="">KL18N8442</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="">stop</label>
              </td>
              <td>
                  <input type="text" />
              </td>
            </tr>
            <tr>
                <td>
                    <label for="">Latitude</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Longitude</label>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Ticket charge</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="submit"></td>
            </tr>
            
          </div>
        </form>
      </div>
    </header>
  </body>
</html>
