<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <table>
            <tr>
                <td><a href="/">  Home</td></a>
                <td><a href="/conductor">  Conductor Details</td></a>
                <td><a href="/busmanagement">  Bus Management</td></a>
                <td><a href="/route">  Route</td></a>
                <td><a href="/stopdetails">  stop details</td></a>
                <td><a href="/bustime">  Bus time</td></a>
                <td><a href="/feedback">  feedback</td></a>
                <td><a href="/passenger">  Passanger</td></a>
                <td><a href="/track">  track bus</td></a>
                <td><a href="/">  logout</td></a>
            </tr>
        </table>
    </header>
</body>
</html>