{% extends 'index.html' %}
{% block body %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

            <!--<table class="Navbar">-->

                <!--<tr>-->
                                        <h1 class="display-3 text-white mb-3">Let's Go EveryWhere</h1>

                                        <a href="#" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">WELCOME</a>

                    <!--&lt;!&ndash; <td><a href="/adminhome">  {{ user }}</td></a> &ndash;&gt;-->
                    <!--<td><a href="/adminhome">  home </td></a>-->
                    <!--<td><a href="/conductor">  Conductor Details</td></a>-->
                    <!--<td><a href="/busmanagement">  Bus Management</td></a>-->
                    <!--<td><a href="/route">  Route</td></a>-->
                    <!--<td><a href="/stopdetails">  stop details</td></a>-->
                    <!--<td><a href="/bustimee">  Bus time</td></a>-->
                    <!--<td><a href="/feedback">  feedback</td></a>-->
                    <!--<td><a href="/track">  track bus</td></a>-->
                    <!--<td><a href="/">  logout</td></a>-->
                <!--</tr>-->
            <!--</table>-->

</body>
{% endblock %}