<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
          <td><a href="/">  Home</td></a>
          <td><a href="/conductor">  Conductor Details</td></a>
          <td><a href="/busmanagement">  Bus Management</td></a>
          <td><a href="/route">  Route</td></a>
          <td><a href="/stopdetails">  stop details</td></a>
          <td><a href="/bustime">  Bus time</td></a>
          <td><a href="/feedback">  feedback</td></a>
          <td><a href="/passenger">  Passanger</td></a>
          <td><a href="/track">  track bus</td></a>
          <td><a href="/">  logout</td></a>
      </tr>
  </table>
</header>
    <header>
      <div>
        <form method = "POST" action="">
          {% csrf_token %}
          <table>
            <tr>
              <td>Bus register number</td>
              <td><input type="text" name = "register_number"/></td>
            </tr>
            <tr>
              <td>Route</td>
              <td>
                <select name="route">
                  {% for routes in route %}
                    <option value="{{ routes.RouteId.StartingStop }} - {{ routes.RouteId.EndingStop }}">
                      {{ routes.RouteId.StartingStop }} - {{ routes.RouteId.EndingStop }}
                    </option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            <tr>
              <td>Number of seats</td>
              <td>
                <input type="number" name="NumberOfSeats" id="" />
              </td>
            </tr>
            <tr>
              <td colspan="2" align ="center"><input type="submit" value="submit"/></td>
            </tr>
          </table>
        </form>
      </div>
    </header>
  </body>
</html>
