<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <form action="">
        <table>
          <tr>
            <td>Bus register number</td>
            <td>seat</td>
            <td>route</td>
          </tr>
          {% for data in busreg %}
          <tr>
            <td>{{ data.BusRegisterNUmber }}</td>
            <td>{{ data.SeatCapacity }}</td>
            <td>{{ data.RouteId.StartingStop }} - {{ data.RouteId.EndingStop }}</td>
            <td>
              <a href="/">edit</a>
              <a href="/">delete</a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td>
              <a href="/busmanagement_add">
                <input type="button" value="add" />
              </a>
            </td>
          </tr>
        </table>
      </form>
    </header>
  </body>
</html>
