<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="https://kit.fontawesome.com/f5ca60cca4.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/BusManagement/busmanagement.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/Conductor/conductor.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <table class="Navbar">
        <tr>
            <td><a href="/adminhome">  Home</td></a>
            <td><a href="/conductor">  Conductor Details</td></a>
            <td><a href="/busmanagement">  Bus Management</td></a>
            <td><a href="/route">  Route</td></a>
            <td><a href="/stopdetails">  stop details</td></a>
            <td><a href="/bustime">  Bus time</td></a>
            <td><a href="/feedback">  feedback</td></a>
            <td><a href="/track">  track bus</td></a>
            <td><a href="/">  logout</td></a>
        </tr>
    </table>
    <div class="table-container">
      <header>
        <form action="">
          <table>
            <tr>
              <th>Bus register number</th>
              <th>seat</th>
              <th>route</th>
            </tr>
            {% for data in busreg %}
            <tr>
              <td>{{ data.BusRegisterNUmber }}</td>
              <td>{{ data.SeatCapacity }}</td>
              <td>{{ data.RouteId.StartingStop }} - {{ data.RouteId.EndingStop }}</td>
              <td align="center">
                <a href="deletebus/{{ data.BusRegisterNUmber }}">
                  <i class="fas fa-trash" style="color: rgb(235, 38, 38);"></i>
                </a>
              </td>
              <td align="center">
                <a href="updatebus/{{ data.BusRegisterNUmber }}">
                  <i class="fas fa-pencil-alt" style="color:rgb(24, 21, 216)"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </form>
      </header>
        <div class="add">
          <a href="/busmanagement_add">
            <input type="button" value="add" />
          </a>
        </div>
    </div>
    </div>
  </body>
</html>
