<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <table class="Navbar">
            <tr>
                <td><a href="/adminhome">  Home</td></a>
                <td><a href="/conductor">  Conductor Details</td></a>
                <td><a href="/busmanagement">  Bus Management</td></a>
                <td><a href="/route">  Route</td></a>
                <td><a href="/stopdetails">  stop details</td></a>
                <td><a href="/bustime">  Bus time</td></a>
                <td><a href="/feedback">  feedback</td></a>
                <td><a href="/track">  track bus</td></a>
                <td><a href="/">  logout</td></a>
            </tr>
        </table>
    </header>
        <header>
            <form action="" method="POST">
                {% csrf_token %}
            <table>
                <tr>
                    <td>Bus</td>
                    <td>
                        <select name="busname" id="">
                           {% for busdetail in busdetails %}
                            <option value="{{ busdetail.StopId }}">{{ busdetail.BusId.BusRegisterNUmber }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <td><input type="submit" value="submit"></td>
                    </td>
                </tr>
                <tr>
                    <td>stop</td>
                    <td>Time</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>111:12</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <a href="/addbustime"><input type="button" value="add">
                        </a>
                    </td>
                </tr>
            </table>
            </form>
        </header>
    </div>
</body>
</html>