<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/Conductor/conductor.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="main-container">
    <table class="Navbar">
        <tr>
            <td><a href="/adminhome">  Home</td></a>
            <td><a href="/conductor">  Conductor Details</td></a>
            <td><a href="/busmanagement">  Bus Management</td></a>
            <td><a href="/route">  Route</td></a>
            <td><a href="/stopdetails">  stop details</td></a>
            <td><a href="/bustime">  Bus time</td></a>
            <td><a href="/feedback">  feedback</td></a>
            <td><a href="/passenger">  Passanger</td></a>
            <td><a href="/track">  track bus</td></a>
            <td><a href="/">  logout</td></a>
        </tr>
    </table>
<header>
        <form action="">
            <table border="1">
                <tr>
                    <th>first Name</th>
                    <th>last name</th>
                    <th>contact</th>
                    <th>place</th>
                    <th>Post</th>
                    <th>pin</th>
                    <th>bus</th>
                </tr>
                {% for i in data %}
                <tr class="alldata">
                    <td> {{i.FirstName}} </td>
                    <td>{{ i.LastName }}</td>
                    <td> {{ i.Contact }}</td>
                    <td>{{ i.Place }}</td>
                    <td>{{ i.Post }}</td>
                    <td>{{ i.pin }}</td>
                    <td>{{i.Bus.BusRegisterNUmber}}</td>
                    <td>
                        <a href="deleteconductor/{{i.UserId}}">D</a>
                        {% comment %} <a href="{% url 'deleteconductor' id=i.UserId %}">Delete</a> {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                <td colspan="10" align="center">
                    <a href="/addconductor" >
                    <input type="button" value="add">
                   </a>
                </td>
                </tr>
                
            </table>
        </form>
    </header>
   </div>
</body>
</html>