<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <form action="">
            <table border="0">
                <tr>
                    <td><a href="/">  Home</td></a>
                    <td><a href="/">  Conductor Details</td></a>
                    <td><a href="/">  Bus Management</td></a>
                    <td><a href="/">  Router</td></a>
                    <td><a href="/">  stop details</td></a>
                    <td><a href="/">  Bus time</td></a>
                    <td><a href="/">  feedback</td></a>
                    <td><a href="/">  Passanger</td></a>
                    <td><a href="/">  track bus</td></a>
                    <td><a href="/">  logout</td></a>
                </tr>
                <tr>
                    <td>first Name</td>
                    <td>last name</td>
                    <td>contact</td>
                    <td>place</td>
                    <td>Post</td>
                    <td>pin</td>
                    <td>bus</td>
                </tr>
                <tr>
                    <td>vaishnav</td>
                    <td>p</td>
                    <td>99999999999</td>
                    <td>calicut</td>
                    <td>westthill</td>
                    <td>673104</td>
                    <td>kl9393</td>
                    <td>delete</td>
                </tr>
                <td colspan="10" align="center"><input type="submit" value="add"></td>
            </table>
        </form>
    </header>
</body>
</html>