<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/Feedback/feedback.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/Conductor/conductor.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="main-container">
    <table class="Navbar">
        <tr>
            <td><a href="/adminhome">  Home</td></a>
            <td><a href="/conductor">  Conductor Details</td></a>
            <td><a href="/busmanagement">  Bus Management</td></a>
            <td><a href="/route">  Route</td></a>
            <td><a href="/stopdetails">  stop details</td></a>
            <td><a href="/bustime">  Bus time</td></a>
            <td><a href="/feedback">  feedback</td></a>
            <td><a href="/track">  track bus</td></a>
            <td><a href="/">  logout</td></a>
        </tr>
    </table>
   <div class="table-container">
    <header>
        <form action="">
            <table>
                <tr>
                    <th>name</th>
                    <th>feedback</th>
                    <th>date</th>
                </tr>
                {% for feedback in feedbacks %}
                <tr>
                    <td>
                        {{ feedback.User_id.FirstName }} {{ feedback.User_id.LastName }}
                    </td>
                    <td>{{ feedback.Feedback }}</td>
                    <td>{{ feedback.Date }}</td>
                </tr>
            {% endfor %}
            </table>
        </form>
    </header>
   </div>
   </div>
</body>
</html>