<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <form action="/routeadd">
            <table border="1">
                <tr>
                    <td>starting stop</td>
                    <td  align="center">Ending stop</td><td></td>
                </tr>
               {% for i in data %}
                <tr>
                    <td> {{i.StartingStop}} </td>
                    <td>{{i.EndingStop}}</td>
                    <td><a href="deleteroute/{{i.RouteId}}">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" align="center"><input type="submit" value="add"></td>
                </tr>
            </table>
        </form>
    </header>
</body>
</html>