<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <form action="">
            <table>
                <tr>
                    <td>starting stop</td>
                    <td colspan="2" align="center">Ending stop</td>
                </tr>
                <tr>
                    <td>calicut</td>
                    <td>kondkotty</td>
                    <td>delete</td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><input type="submit" value="add"></td>
                </tr>
            </table>
        </form>
    </header>
</body>
</html>