<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <table class="Navbar">
            <tr>
                <td><a href="/adminhome">  Home</td></a>
                <td><a href="/conductor">  Conductor Details</td></a>
                <td><a href="/busmanagement">  Bus Management</td></a>
                <td><a href="/route">  Route</td></a>
                <td><a href="/stopdetails">  stop details</td></a>
                <td><a href="/bustime">  Bus time</td></a>
                <td><a href="/feedback">  feedback</td></a>
                <td><a href="/passenger">  Passanger</td></a>
                <td><a href="/track">  track bus</td></a>
                <td><a href="/">  logout</td></a>
            </tr>
        </table>
    </header>
        <header>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>bus</td>
                        <td>
                            <select name="BusNumber" id="">
                                <option value="Kl10n123">Kl10n123</option>
                                <option value="Kl10n163">Kl10n123</option>
                                <option value="Kl10n133">Kl10n123</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="track">
                        </td>
                    </tr>
                </table>
            </form>
        </header>
    </div>
</body>
</html>